[Unit]
Description=ownCloud php fpm
Requires=network.target
After=network.target

[Service]
Type=forking
PIDFile=/opt/syncloud-owncloud/php/var/run/php-fpm.pid
ExecStart=/opt/syncloud-owncloud/php/sbin/php-fpm -y /opt/syncloud-owncloud/config/php-fpm.conf -c /opt/syncloud-owncloud/config/php.ini
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target